/* Estilo para o formulário de cadastro */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

form {
  width: 100%;
  max-width: 800px; /* Ajustado para uma caixa de formulário mais larga */
  padding: 40px; /* Maior espaçamento interno */
  background-color: #ffffff4c;
  border-radius: 7px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.form-label {
  font-weight: 600;
}

.form-control {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

.form-control:focus {
  border: 1px solid black;
}

.form-select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

.btn {
  background-color: black;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #3a3a3a;
}

form h1{
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}