

h2{
  color: black;
}
  .seta .carousel-control-prev-icon,
  .seta .carousel-control-next-icon {
    background-color: black;
    color: white; /* Change this to a contrasting color */
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 100%; /* Mostra apenas um card por vez */
    margin: 0 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

@media (max-width: 575.98px) { /* Adjusted max-width to target smaller screens */
  .card {
    flex: 0 0 100%; /* Show only one card at a time on mobile */
  }
}
