/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* Main container */
  main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #222;
    color: #ddd;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
  
  /* Heading */
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  /* Navigation */
  main nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  main nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  main nav li {
    margin-right: 10px;
  }
  
  main nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.2s ease-in-out;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  
  main nav a:hover {
    color: #fff;
    background-color: #333;
    border-color: #ddd;
  }
  
  /* Form */
  main form {
    background-color: #333;
    padding: 1rem;
    border-radius: 5px;
  }
  
  /* Labels and Inputs */
  main label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #eee;
  }
  
  main input[type="text"],
  main input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #444;
    color: #ddd;
  }
  
  main input[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  main input[type="submit"]:hover {
    background-color: #666;
  }
  
  /* Sections */
  main .section {
    display: none;
  }
  
  main .active {
    display: block;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    main nav {
      flex-direction: column;
      text-align: center;
    }
  
    main nav ul {
      flex-direction: column;
    }
  
    main nav li {
      margin: 5px 0;
    }
  }
  