@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap');

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 18px;
}

.social-icons a:hover {
  color: #ccc;
}

/* Efeito de hover azul nos links do formulário de login */
.formLogin a:hover {
  color: #07a4ff; /* Cor azul desejada */
  /* Ou você pode definir um fundo azul */
  /* background-color: #07a4ff; */
  /* Certifique-se de ajustar as propriedades conforme necessário */
}

/* Efeito de hover azul nos links do footer */
.footer a:hover {
  color: #07a4ff; /* Cor azul desejada */
  /* Ou você pode definir um fundo azul */
  /* background-color: #07a4ff; */
  /* Certifique-se de ajustar as propriedades conforme necessário */
}

/* Efeito de hover azul nos links do footer */
.footer a:hover {
  color: #07a4ff; /* Cor azul desejada */
  /* Ou você pode definir um fundo azul */
  /* background-color: #07a4ff; */
  /* Certifique-se de ajustar as propriedades conforme necessário */
}

/* Efeito de hover azul no texto de direitos autorais */
.footer p:hover {
  color: #07a4ff; /* Cor azul desejada */
  /* Ou você pode definir um fundo azul */
  /* background-color: #07a4ff; */
  /* Certifique-se de ajustar as propriedades conforme necessário */
}


