@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap');

/* Define um estilo para o corpo da página */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Tektur', sans-serif;
}

/* Define o estilo do conteúdo principal */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Define o estilo do rodapé */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 18px;
}

.social-icons a:hover {
  color: #ccc;
}
