main{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.carosselRedondo{
  background-color: #55555534;
  padding: 1rem;
  margin: 0.5rem;
}
.carosselRedondo .carossel-Container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carosselRedondo .carossel-Slide {
  position: relative;
  display: flex;
  height: auto;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  gap: 10px; /* Adiciona espaçamento entre os itens */
}

.carosselRedondo .item {
  position: relative;
  flex: none;
  background-color: transparent; /* Alterado para fundo transparente */
  border-radius: 50%; /* Agora, o card é redondo */
  margin-right: 0.2em;
  height: 26vh; /* Aumenta um pouco a altura do card */
  width: 26vh; /* Aumenta um pouco a largura do card */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o contêiner */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra mais sutil */
}

.carosselRedondo .item img {
  width: 110%; /* Aumenta um pouco mais a largura da imagem */
  height: 110%; /* Aumenta um pouco mais a altura da imagem */
  border-radius: 50%;
  object-fit: cover; /* Redimensiona a imagem para cobrir todo o contêiner */
  object-position: center; /* Centraliza o conteúdo da imagem */
}

.carosselRedondo .item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com transparência */
  color: #fff; /* Cor do texto */
  text-align: center;
  padding: 8px; /* Reduz um pouco o preenchimento */
  box-sizing: border-box;
}

.carosselRedondo .item .info h2,
.carosselRedondo .item .info p,
.carosselRedondo .item .info a {
  margin: 0;
  font-size: 14px; /* Reduz o tamanho do texto */
}

.carosselRedondo .item .info a {
  display: block;
  margin-top: 8px; /* Reduz um pouco a margem superior */
  color: #fff;
  text-decoration: none;
}

.carosselRedondo .item .info a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.carosselRedondo .btnCarossel {
  background: transparent;
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carosselRedondo .btnCarossel:hover {
  background: rgba(20, 20, 20, .1);
}

.carosselRedondo .BtnBack {
  left: 0;
}

.carosselRedondo .BtnNext {
  right: 0;
}

.carosselRedondo #seta {
  margin: 1rem;
  position: absolute;
  padding: 17%;
  color: #555;
}


