@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
   
}

.page {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color:white;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #ffffff4c;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #171616;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid  black;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #232121;
    text-decoration: none; /* Remover sublinhado */
    transition: all linear 160ms;
}




.btn {
    background-color:  black;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #3a3a3a;

}

/* Efeito de hover azul nos links do formulário de login */
.formLogin a:hover {
    color: #07a4ff; /* Cor azul desejada */
    /* Ou você pode definir um fundo azul */
    /* background-color: #07a4ff; */
    /* Certifique-se de ajustar as propriedades conforme necessário */
}
  
  /* Efeito de hover azul nos links do footer */
  .footer a:hover {
    color: #07a4ff; /* Cor azul desejada */
    /* Ou você pode definir um fundo azul */
    /* background-color: #07a4ff; */
    /* Certifique-se de ajustar as propriedades conforme necessário */
  }
  
  /* Efeito de hover azul no botão "Acessar" */
.formLogin input[type="submit"]:hover {
    background-color: #07a4ff; /* Cor azul desejada */
    /* Ou você pode ajustar outras propriedades conforme necessário */
  }
  

.page {
    position: relative; /* Garante que o vídeo fique como fundo */
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Para esconder partes do vídeo que excedam a div */

}
  
  
 
  
 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
 
  
form{
    position: absolute;
}

#videoBG{
    position: relative;
    z-index: 0;
    padding-bottom: 0;
    width: 100%;
  }
  
/*   .signup-link {
    text-decoration: none;
    position: relative;
    align-items: center;
    left: 80px;
}

.entrar{
    position: relative;
    align-items: center;
    left: 125px;
}
.senha{
    position: relative;
    align-items: center;
    right: 10px;
}

.usuario{
    position: relative;
    align-items: center;
    right: 20px;
} */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}