* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #333; /* Example color */
    color: white;
    padding: 20px;
}

main {
    flex: 1; /* Let main take up remaining vertical space */
    background-image: url("../img/registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 1rem;
    background-color: #444040ad;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the width as needed */
}

.card .card-body {
    padding: 40px;
}

.card .card-title, .card .custom-form label {
    font-weight: bold;
    color: white;
}

.card .custom-form input[type="text"],
.card .custom-form input[type="password"],
.card .custom-form input[type="tel"],
.card .custom-form input[type="email"],
.card .custom-form input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card .custom-form button {
    padding: 12px;
    border-radius: 5px;
    background-color: #435364;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card .custom-form button:hover {
    background-color: #2e4e70;
}
