.card {
    max-width: 600px;
    background-color: #44404023;
    margin: 50px auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 40px;
}

.card-title {
    font-weight: bold;
    color: black;
}

.custom-form label {
    font-weight: bold;
}

.custom-form input[type="text"],
.custom-form input[type="password"],
.custom-form input[type="tel"],
.custom-form input[type="email"],
.custom-form input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-form button {
    padding: 12px;
    border-radius: 5px;
    background-color: #435364;
    color: #fff;
    border: none;
    cursor: pointer;
}

.custom-form button:hover {
    background-color: #2e4e70;
}
