<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual Journey</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logoVJ.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastroUser.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>
</head>
<body>
<header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ url_for('static', filename='img/logoVJ.png') }}"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('quemsomos') }}">Quem Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\views\lojafotos.html">Loja de Fotos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\photo-gallery template\carousel-15\index.html">Fotógrafos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">
                <i class="bi bi-person-circle"></i>
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<main>
  <video autoplay muted loop id="videoBG">
    <source src="{{ url_for('static', filename='video/photographer.mp4') }}" type="video/mp4">
    Seu navegador não suporta vídeos HTML5.
  </video>
  <div class="container form-container">
    <form class="w-100" id="userForm"> 
      <h1 class="text-center mt-5">Cadastro de Usuário</h1>
      <div class="mb-3 row">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Nome</label>
          <input type="text" id="inputName" class="form-control" placeholder="Nome" required>
        </div>
        <div class="col-md-6">
          <label for="inputSurname" class="form-label">Sobrenome</label>
          <input type="text" class="form-control" id="inputSurname" placeholder="Sobrenome" required>
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Digite seu email" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Senha</label>
          <div class="input-group">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" required>
          </div>
        </div>
        <div class="mb-3 col-md-6">
          <label for="userType" class="form-label">Tipo de Usuário</label>
          <select id="userType" class="form-select" required>
            <option selected hidden>Escolha...</option>
            <option value="cliente">Cliente</option>
            <option value="fotografo">Fotógrafo</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="inputAddress" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Rua ou Av" required>
      </div>
      <div class="mb-3">
        <label for="inputAddress2" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, casa, sítio...">
      </div>
      <div class="mb-3 row">
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Cidade</label>
          <input type="text" class="form-control" id="inputCity" required>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">CEP</label>
          <input type="text" class="form-control" id="inputZip" required>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Estado</label>
          <select id="inputState" class="form-select" required>
            <option selected hidden>Escolha...</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                  </select>
              </div>
          </div>

           <!-- Campos adicionais para o tipo de usuário "Fotógrafo" -->
      <div class="mb-3 row" id="additionalFields" style="display:none;">
        <div class="col-md-6">
          <label for="inputCPF" class="form-label">CPF</label>
          <input type="text" class="form-control" id="inputCPF" placeholder="CPF">
        </div>
        <div class="col-md-6">
          <label for="inputProfilePic" class="form-label">Foto do Perfil</label>
          <input type="file" class="form-control" id="inputProfilePic">
        </div>
        <div class="col-md-6">
          <label for="inputContact" class="form-label">Contato</label>
          <input type="text" class="form-control" id="inputContact" placeholder="Contato">
        </div>
        <div class="col-md-6">
          <label for="inputArea" class="form-label">Área do Fotógrafo</label>
          <input type="text" class="form-control" id="inputArea" placeholder="Área do Fotógrafo">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="row">
      
        <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
      </div>
      
        <ul class="social-icons">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="static/js/cadastro.js"></script>
  </body>
</html>