<!doctype html>

<html lang="pt-Br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual Journey</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logoVJ.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">


    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>

</head>

<body>

    <header class="custom-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img class="logo"
                        src="{{ url_for('static', filename='img/logoVJ.png') }}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('quemsomos') }}">Quem Somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fotógrafos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('login')}}">
                                <i class="bi bi-person-circle"></i>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <form method="POST">
            {{ form.csrf_token }}
            <p>{{ form.nome.label }}: {{ form.nome }}</p>
            <p>{{ form.sobrenome.label }}: {{ form.sobrenome }}</p>
            <p>{{ form.nome_usuario.label }}: {{ form.nome_usuario }}</p>
            <p>{{ form.senha.label }}: {{ form.senha }}</p>
            <p>{{ form.telefone.label }}: {{ form.telefone }}</p>
            <p>{{ form.email.label }}: {{ form.email }}</p>
            <p>{{ form.bio.label }}: {{ form.bio }}</p>
            <p>{{ form.url.label }}: {{ form.url }}</p>
            <p>{{ form.rua.label }}: {{ form.rua }}</p>
            <p>{{ form.cidade.label }}: {{ form.cidade }}</p>
            <p>{{ form.estado.label }}: {{ form.estado }}</p>
            <p>{{ form.pais.label }}: {{ form.pais }}</p>
            <p>{{ form.codigo_postal.label }}: {{ form.codigo_postal }}</p>
            <p>{{ form.submit }}</p>
        </form>
    </main>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
                </div>
                <div class="col-md-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
      
        
      
      
      

</body>

</html>