<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>
<body>
    <h1>Editar Perfil</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ form.nome.label }}: <input type="text" name="nome" value="{{ form.nome.data }}">
        </div>
        <div>
            {{ form.sobrenome.label }}: <input type="text" name="sobrenome" value="{{ form.sobrenome.data }}">
        </div>
        <div>
            {{ form.nome_usuario.label }}: <input type="text" name="nome_usuario" value="{{ form.nome_usuario.data }}">
        </div>
        <div>
            {{ form.senha.label }}: <input type="password" name="senha">
        </div>
        <div>
            {{ form.telefone.label }}: <input type="text" name="telefone" value="{{ form.telefone.data }}">
        </div>
        <div>
            {{ form.email.label }}: <input type="email" name="email" value="{{ form.email.data }}">
        </div>
        <div>
            {{ form.bio.label }}: <textarea name="bio">{{ form.bio.data }}</textarea>
        </div>
        <div>
            {{ form.url.label }}: <input type="text" name="url" value="{{ form.url.data }}">
        </div>
        <div>
            {{ form.rua.label }}: <input type="text" name="rua" value="{{ form.rua.data }}">
        </div>
        <div>
            {{ form.cidade.label }}: <input type="text" name="cidade" value="{{ form.cidade.data }}">
        </div>
        <div>
            {{ form.estado.label }}: <input type="text" name="estado" value="{{ form.estado.data }}">
        </div>
        <div>
            {{ form.pais.label }}: <input type="text" name="pais" value="{{ form.pais.data }}">
        </div>
        <div>
            {{ form.codigo_postal.label }}: <input type="text" name="codigo_postal" value="{{ form.codigo_postal.data }}">
        </div>
        <div>
            <input type="hidden" name="foto_perfil" value="{{ profile_data[7] }}">
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>
