<!doctype html>
<html lang="pt-Br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visual Journey</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logoVJ.png') }}" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carouselPerfil.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/carouselPerfil.js') }}" defer></script>


</head>

<body>


  <header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ url_for('static', filename='img/logoVJ.png') }}"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('quemsomos') }}">Quem Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\views\lojafotos.html">Loja de Fotos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\photo-gallery template\carousel-15\index.html">Fotógrafos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">
                <i class="bi bi-person-circle"></i>
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="d-flex justify-content-center">
      <div id="myCarousel" class="carousel slide reduzido" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/banners/banerAnimado1.gif') }}" class="d-block w-100"
              alt="Imagem 1">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/banners/banerAnimado2.gif') }}" class="d-block w-100"
              alt="Imagem 2">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/banners/banerAnimado3.gif') }}" class="d-block w-100"
              alt="Imagem 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


  </header>


  <main>
<!-- First Carousel -->
<fieldset class="custom-carousel carousel-usuario animated-fieldset" id="carouselUsuario1">
  <legend style="display: flex;">
      Casamento
      <div class="legend-buttons-container">
          <button class="anterior" data-carousel-id="carouselUsuario1">&#9664;</button>
          <button class="proximo" data-carousel-id="carouselUsuario1">&#9654;</button>
      </div>
  </legend>
  <div class="carousel-container">
      <div class="color-border"></div>
      <div class="carousel">
          <!-- User profiles for the first carousel -->
          <div class="usuario">
              <div class="usuario-card">
                  <img src="pessoa10.jpg" alt="Foto de Laura Oliveira" class="profile-img">
                  <div class="info">
                      <h2>Laura Oliveira</h2>
                      <p>Idade: 29 anos</p>
                      <p>Cidade: Salvador</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="pessoa11.jpg" alt="Foto de Pedro Lima" class="profile-img">
                  <div class="info">
                      <h2>Pedro Lima</h2>
                      <p>Idade: 32 anos</p>
                      <p>Cidade: Curitiba</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="pessoa12.jpg" alt="Foto de Carolina Santos" class="profile-img">
                  <div class="info">
                      <h2>Carolina Santos</h2>
                      <p>Idade: 28 anos</p>
                      <p>Cidade: Fortaleza</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="pessoa13.jpg" alt="Foto de Gabriel Silva" class="profile-img">
                  <div class="info">
                      <h2>Gabriel Silva</h2>
                      <p>Idade: 27 anos</p>
                      <p>Cidade: Natal</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="pessoa14.jpg" alt="Foto de Julia Oliveira" class="profile-img">
                  <div class="info">
                      <h2>Julia Oliveira</h2>
                      <p>Idade: 30 anos</p>
                      <p>Cidade: Porto Seguro</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>

          <div class="usuario">
            <div class="usuario-card">
                <img src="pessoa14.jpg" alt="Foto de Julia Oliveira" class="profile-img">
                <div class="info">
                    <h2>Julia Oliveira</h2>
                    <p>Idade: 30 anos</p>
                    <p>Cidade: Porto Seguro</p>
                    <!-- Additional profile information -->
                </div>
            </div>
        </div>

        <div class="usuario">
          <div class="usuario-card">
              <img src="pessoa14.jpg" alt="Foto de Julia Oliveira" class="profile-img">
              <div class="info">
                  <h2>Julia Oliveira</h2>
                  <p>Idade: 30 anos</p>
                  <p>Cidade: Porto Seguro</p>
                  <!-- Additional profile information -->
              </div>
          </div>
      </div>


      <div class="usuario">
        <div class="usuario-card">
            <img src="pessoa14.jpg" alt="Foto de Julia Oliveira" class="profile-img">
            <div class="info">
                <h2>Julia Oliveira</h2>
                <p>Idade: 30 anos</p>
                <p>Cidade: Porto Seguro</p>
                <!-- Additional profile information -->
            </div>
        </div>
    </div>

    <div class="usuario">
      <div class="usuario-card">
          <img src="pessoa14.jpg" alt="Foto de Julia Oliveira" class="profile-img">
          <div class="info">
              <h2>Julia Oliveira</h2>
              <p>Idade: 30 anos</p>
              <p>Cidade: Porto Seguro</p>
              <!-- Additional profile information -->
          </div>
      </div>
  </div>

          <!-- Add more user profiles as needed -->
      </div>
  </div>
</fieldset>

<!-- Second Carousel -->
<fieldset class="custom-carousel carousel-usuario animated-fieldset" id="carouselUsuario2">
  <legend style="display: flex;">
      Paisagens
      <div class="legend-buttons-container">
          <button class="anterior" data-carousel-id="carouselUsuario2">&#9664;</button>
          <button class="proximo" data-carousel-id="carouselUsuario2">&#9654;</button>
      </div>
  </legend>
  <div class="carousel-container">
      <div class="color-border"></div>
      <div class="carousel">
          <!-- User profiles for the second carousel -->
          <div class="usuario">
              <div class="usuario-card">
                  <img src="paisagem9.jpg" alt="Paisagem 9" class="profile-img">
                  <div class="info">
                      <h2>Paisagem 9</h2>
                      <p>Local: Montanhas</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="paisagem10.jpg" alt="Paisagem 10" class="profile-img">
                  <div class="info">
                      <h2>Paisagem 10</h2>
                      <p>Local: Praia</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="paisagem11.jpg" alt="Paisagem 11" class="profile-img">
                  <div class="info">
                      <h2>Paisagem 11</h2>
                      <p>Local: Floresta</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="paisagem12.jpg" alt="Paisagem 12" class="profile-img">
                  <div class="info">
                      <h2>Paisagem 12</h2>
                      <p>Local: Deserto</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <div class="usuario">
              <div class="usuario-card">
                  <img src="paisagem13.jpg" alt="Paisagem 13" class="profile-img">
                  <div class="info">
                      <h2>Paisagem 13</h2>
                      <p>Local: Cidade</p>
                      <!-- Additional profile information -->
                  </div>
              </div>
          </div>
          <!-- Add more user profiles as needed -->
      </div>
  </div>
</fieldset>

  </main>


</body>

</html>