<!doctype html>
<html lang="pt-Br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Visual Journey</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logoVJ.png') }}" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carouselPerfil.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">



  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>



</head>

<body>


  <header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ url_for('static', filename='img/logoVJ.png') }}"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('quemsomos') }}">Quem Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fotógrafos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">
                <i class="bi bi-person-circle"></i>
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="myCarousel" class="carousel slide reduzido" data-bs-ride="carousel" data-bs-interval="2500">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{{ url_for('static', filename='img/banners/banerAnimado1.gif') }}" class="d-block" alt="Imagem 1">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/banners/banerAnimado2.gif') }}" class="d-block" alt="Imagem 2">
          </div>
          <div class="carousel-item">
              <img src="{{ url_for('static', filename='img/banners/banerAnimado3.gif') }}" class="d-block" alt="Imagem 3">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>



  </header>


  <main>
    <div class="user-cards">
      {% for user_data in users_data %}
          <a href="{{ url_for('portfolio', nome_usuario=user_data[3]) }}">
              <div class="user-card">
                  <img src="{{ user_data[0] }}" alt="Foto de Perfil de {{ user_data[1] }} {{ user_data[2] }}">
                  <p>Nome: {{ user_data[1] }}</p>
                  <p>Sobrenome: {{ user_data[2] }}</p>
                  <p>Nome de Usuário: {{ user_data[3] }}</p>
              </div>
          </a>
      {% endfor %}
  </div>
    
  </main>
  
  
  <div class="elemento-acima-do-footer">
    <footer class="footer">
      <div class="container">
        <div class="row">
  
          <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
        </div>
  
        <ul class="social-icons">
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
      </div>
      </div>
    </footer>
  </div>
 
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/static/js/service-worker.js')
          .then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
      });
    }
  </script>
  
  
  
  
  




</body>

</html>