<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>Visual Journey</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/cardscarrosel.css">

</head>
<body>
  <header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="..\img\logo visual journey.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="..\views\quemsomos.html">Quem Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\views\lojafotos.html">Loja de Fotos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\photo-gallery template\carousel-15\index.html">Fotógrafos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="..\views\login.html">
                <i class="bi bi-person-circle"></i>
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria casamento\Casamento\casamento1.jpg" class="card-img-top" alt="Imagem 1">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria gestantes\gestantes\gestante1.jpg" class="card-img-top" alt="Imagem 2">
            <div class="card-body">
              
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Repita este bloco para mais cards -->
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria culinaria\culinária\culinária7.jpg" class="card-img-top" alt="Imagem 3">
            <div class="card-body">
            
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria culinaria\culinária\culinária8.jpg" class="card-img-top" alt="Imagem 4">
            <div class="card-body">
            
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria paisagem\Paisagem\paisagem5.jpg" class="card-img-top" alt="Imagem 1">
            <div class="card-body">
            
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria esporte\esporte\esporte7.jpg" class="card-img-top" alt="Imagem 2">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Repita este bloco para mais cards -->
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria paisagem\Paisagem\paisagem9.jpg" class="card-img-top" alt="Imagem 3">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria paisagem\Paisagem\paisagem3.jpg" class="card-img-top" alt="Imagem 4">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
     <br>
     <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria esporte\esporte\esporte6.jpg" class="card-img-top" alt="Imagem 1">
            <div class="card-body">
              
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria esporte\esporte\esporte8.jpg" class="card-img-top" alt="Imagem 2">
            <div class="card-body">
          
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Repita este bloco para mais cards -->
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria culinaria\culinária\culinária6.jpg" class="card-img-top" alt="Imagem 3">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria culinaria\culinária\culinária7.jpg" class="card-img-top" alt="Imagem 4">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
     <br>
     <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria culinaria\culinária\culinária3.jpg" class="card-img-top" alt="Imagem 1">
            <div class="card-body">
             
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria infantil\infantil\infantil7.jpg" class="card-img-top" alt="Imagem 2">
            <div class="card-body">
              
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <!-- Repita este bloco para mais cards -->
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria paisagem\Paisagem\paisagem8.jpg" class="card-img-top" alt="Imagem 3">
            <div class="card-body">
              
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="../photo-gallery template\galeria paisagem\Paisagem\paisagem4.jpg" class="card-img-top" alt="Imagem 4">
            <div class="card-body">
            
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
            

    
  
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <script src="../js/quemsomos.js"></script>
  </body>
</html>
