<!doctype html>

<html lang="pt-Br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visual Journey</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logoVJ.png') }}" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>
</head>
<body>

    <header class="custom-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#"><img class="logo"
                        src="{{ url_for('static', filename='img/logoVJ.png') }}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('quemsomos') }}">Quem Somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fotógrafos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('login')}}">
                                <i class="bi bi-person-circle"></i>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="user-profile-2" class="user-profile">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-18">
                    <li class="active">
                        <a data-toggle="tab" href="#home">
                            <i class="green ace-icon fa fa-user bigger-120"></i>
                            Perfil
                        </a>
                    </li>
    
                    <li>
                        <a data-toggle="tab" href="#pictures">
                            <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
                            Fotos
                        </a>
                    </li>
                </ul>
    
                <div class="tab-content no-border padding-24">
                    <div id="home" class="tab-pane in active">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 center">
                                <span class="profile-picture">
                                    <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="http://bootdey.com/img/Content/avatar/avatar6.png">
                                </span>
    
                                <div class="space space-4"></div>
    
                                <a href="#" class="btn btn-sm btn-block btn-success">
                                    <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                                    <span class="bigger-110">Adicionar como amigo</span>
                                </a>
    
                                <a href="#" class="btn btn-sm btn-block btn-primary">
                                    <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                                    <span class="bigger-110">Mande uma mensagem</span>
                                </a>
                            </div><!-- /.col -->
    
                            <div class="col-xs-12 col-sm-9">
                                
    
                                <div class="profile-user-info">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Usuário </div>
    
                                        <div class="profile-info-value">
                                            <span>lucas</span>
                                        </div>
                                    </div>
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Local </div>
    
                                        <div class="profile-info-value">
                                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                                            <span>São Luis, MA</span>
                                            <span>Brazil</span>
                                        </div>
                                    </div>
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Idade </div>
    
                                        <div class="profile-info-value">
                                            <span>23</span>
                                        </div>
                                    </div>
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Registro </div>
    
                                        <div class="profile-info-value">
                                            <span>10/01/2023</span>
                                        </div>
                                    </div>
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Ultima Vez Online </div>
    
                                        <div class="profile-info-value">
                                            <span>3 Horas Atrás</span>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="hr hr-8 dotted"></div>
    
                                <div class="profile-user-info">
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> Website </div>
    
                                        <div class="profile-info-value">
                                            <a href="#" target="_blank">www.siteteste.com</a>
                                        </div>
                                    </div>
    
    
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">
                                            <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i>
                                        </div>
    
                                        <div class="profile-info-value">
                                            <a href="#">Me Siga no Instagram</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
    
                        <div class="space-20"></div>
    
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h4 class="widget-title smaller">
                                            <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                                            Um Pouco Sobre Mim
                                        </h4>
                                    </div>
    
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <p>
                                                fotógrafo especializado em casamentos
                                            </p>
                                            <p>
                                                Tenho o maior prazer de registrar um dos melhores momentos da vida!
                                            </p>
                                            <p>
                                                
                                            </p>
                                            <p>
                                               
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /#home -->
    
                    <div id="feed" class="tab-pane">
                        <div class="profile-feed row">
                            <div class="col-sm-6">
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Alex Doe's avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png">
                                        <a class="user" href="#"> lucas </a>
                                        changed his profile photo.
                                        <a href="#">Take a look</a>
    
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            an hour ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Susan Smith's avatar" src="http://bootdey.com/img/Content/avatar/avatar2.png">
                                        <a class="user" href="#"> Susan Smith </a>
    
                                        is now friends with Alex Doe.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            2 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
                                        joined
                                        <a href="#">Country Music</a>
    
                                        group.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            5 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
                                        uploaded a new photo.
                                        <a href="#">Take a look</a>
    
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            5 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="David Palms's avatar" src="http://bootdey.com/img/Content/avatar/avatar3.png">
                                        <a class="user" href="#"> David Palms </a>
    
                                        left a comment on Alex's wall.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            8 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.col -->
    
                            <div class="col-sm-6">
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
                                        published a new blog post.
                                        <a href="#">Read now</a>
    
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            11 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Alex Doe's avatar" src="http://bootdey.com/img/Content/avatar/avatar4.png">
                                        <a class="user" href="#"> Alex Doe </a>
    
                                        upgraded his skills.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            12 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
    
                                        logged in.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            12 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
    
                                        logged out.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            16 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                        <a class="user" href="#"> Alex Doe </a>
    
                                        logged in.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            16 hours ago
                                        </div>
                                    </div>
    
                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>
    
                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
    
                        <div class="space-12"></div>
    
                        <div class="center">
                            <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                                <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                                <span class="bigger-110">View more activities</span>
    
                                <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div><!-- /#feed -->
    
                    <div id="friends" class="tab-pane">
                        <div class="profile-users clearfix">
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="Bob Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-online"></span>
                                                Bob Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">Content Editor</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                                <span class="green"> 20 mins ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Rose Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-offline"></span>
                                                Rose Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">Graphic Designer</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                                                <span class="grey"> 30 min ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="Jim Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-busy"></span>
                                                Jim Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">SEO &amp; Advertising</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 red"></i>
                                                <span class="grey"> 1 hour ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="Alex Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-idle"></span>
                                                Alex Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">Marketing</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                                <span class=""> 40 minutes idle </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="Phil Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-online"></span>
                                                Phil Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">Public Relations</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                                <span class="green"> 2 hours ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="Susan Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-online"></span>
                                                Susan Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">HR Management</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 orange"></i>
                                                <span class="green"> 20 mins ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="Jennifer Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-offline"></span>
                                                Jennifer Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">Graphic Designer</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                                                <span class="grey"> 2 hours ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="itemdiv memberdiv">
                                <div class="inline pos-rel">
                                    <div class="user">
                                        <a href="#">
                                            <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="Alexa Doe's avatar">
                                        </a>
                                    </div>
    
                                    <div class="body">
                                        <div class="name">
                                            <a href="#">
                                                <span class="user-status status-offline"></span>
                                                Alexa Doe
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="popover">
                                        <div class="arrow"></div>
    
                                        <div class="popover-content">
                                            <div class="bolder">Accounting</div>
    
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o middle bigger-120 grey"></i>
                                                <span class="grey"> 4 hours ago </span>
                                            </div>
    
                                            <div class="hr dotted hr-8"></div>
    
                                            <div class="tools action-buttons">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-facebook-square blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                                </a>
    
                                                <a href="#">
                                                    <i class="ace-icon fa fa-google-plus-square red bigger-150"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hr hr10 hr-double"></div>
    
                        <ul class="pager pull-right">
                            <li class="previous disabled">
                                <a href="#">← Prev</a>
                            </li>
    
                            <li class="next">
                                <a href="#">Next →</a>
                            </li>
                        </ul>
                    </div><!-- /#friends -->
    
                    <div id="pictures" class="tab-pane">
                        <ul class="ace-thumbnails">
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/1/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/2/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/3/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/4/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/5/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/6/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/7/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
    
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" src="http://lorempixel.com/200/200/nature/1/">
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
    
                                <div class="tools tools-bottom">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>
    
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /#pictures -->
                </div>
            </div>
        </div>
        
        {% if profile_data %}
        <p><a href="{{ url_for('edit_profile') }}">Editar Perfil</a> | <a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
        <p>Não foi possível carregar o perfil do usuário.</p>
        {% endif %}
    </main>
    

    <footer class="footer">
        <div class="container">
            <div class="row">

                <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
            </div>

            <ul class="social-icons">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            </ul>
        </div>
        </div>
        </div>
    </footer>

</body>

</html>