<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visual Journey</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logoVJ.png') }}" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/quemsomos.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/quemsomos.js') }}" defer></script>

</head>

<body>
  <!-- ... (previous HTML code) ... -->

  <header class="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ url_for('static', filename='img/logoVJ.png') }}"
            alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('quemsomos') }}">Quem Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fotógrafos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">
                <i class="bi bi-person-circle"></i>
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="d-flex justify-content-center">
      <div id="myCarousel" class="carousel slide reduzido" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/banners/banerAnimado1.gif') }}" class="d-block w-100"
              alt="Imagem 1">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/banners/banerAnimado2.gif') }}" class="d-block w-100"
              alt="Imagem 2">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/banners/banerAnimado3.gif') }}" class="d-block w-100"
              alt="Imagem 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </header>

  <main>

    <div id="texto1">
      <h1>VISUAL JOURNEY</h1>
      <p>É uma aplicação web com a finalidade de desenvolver o setor de serviços voltados pro ramo da fotografia, como
        venda de imagens ou contratação de profissionais, visamos o aprimoramento da qualidade de serviços, desde o
        encontro do melhor profissional para atender as suas necessidades até o melhor entendimento do cliente sobre
        suas próprias necessidades com uma visão técnica e profissional</p>

    </div>


    <div class="espliacacao"></div>
    <div id="imgtext">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img id="imgani" src="{{ url_for('static', filename='img/Foto2.jpg') }}" alt="Imagem" class="animate-left">
          </div>
          <div class="col-md-6">
            <h2 class="animate-right"><b>Fotografos Profissionais</b></h2>
            <p class="animate-right">Para profissionais o Visual Journey trás uma plataforma com design mutável para a
              melhor apresentação de seus projetos e trabalhos, oferece um local seguro de armazenamento de imagens,
              banindo eventuais plágios e roubos de imagens. Sendo assim um local seguro para a exposição de trabalhos e
              apresentação</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="imgtext2">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img id="imgani" src="{{ url_for('static', filename='img/Foto1.jpg') }}" alt="Imagem" class="animate-left">
          </div>
          <div class="col-md-6">
            <h2 class="animate-right"><b>Fotógrafos Iniciantes</b></h2>
            <p class="animate-right">Para fotógrafos iniciantes, o Visual Journey pode ser uma ótima ferramenta para
              ajudá-los a desenvolver suas habilidades e apresentar seus trabalhos.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">

        <p>&copy; 2023 Seu Site. Todos os direitos reservados.</p>
      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
    </div>
    </div>
  </footer>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/static/service-worker.js').then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
  


</body>

</html>